body{
    background-color:rgb(205, 146, 52);
    color:white;
    max-width: 600px;
    margin: auto;
}
p{
    line-height: 1.6;
}
/*article+article{
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid black;
}*/